{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}

{% block title %}

    Flask And Turso Demonstration - Home

{% endblock %}

{% block content %}

  <h1>This Is A Flask And Turso DB Connectivity Demonstration</h1>

  <section id="tasks">

    <h2>Incomplete Tasks</h2>
    <div class="incomplete">

        {% for task in tasks %}
            {% if not task.complete %}
                    <p class="task"> 
                        <span class="priority">{{ task.priority }} - </span> 
                        <span class="name">{{ task.name }} - </span> 
                        <span class="status"><a href="/complete/{{ task.id }}">☐</a> - </span>
                        <span class="delete"><a href="/delete/{{ task.id }}">␡</a> - </span>
                    </p> 
            {% endif %}
        {% endfor %}

    </div>

    <h2>Complete Tasks</h2>
    <div class="complete">

        {% for task in tasks %}
            {% if task.complete %}
                    <p class="task"> 
                        <span class="priority">{{ task.priority }} - </span> 
                        <span class="name">{{ task.name }} - </span> 
                        <span class="status"><a href="/incomplete/{{ task.id }}">☒</a> - </span>
                        <span class="delete"><a href="/delete/{{ task.id }}">␡</a> - </span>
                    </p> 
            {% endif %}
        {% endfor %}

    </div>

    </section>
    <section>
      <article>

        <form action="/add" method="POST">
            <label>
                Name
                <input name="name" type="text" placeholder="Kick Child" required>
            </label>
            <label>
                Priority
                <input name="priority" type="number" min="1" max="5" placeholder="3" required>
            </label>
            <button>Add To List!</button>
        </form>

    </article>
    </section>

{% endblock %}